<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasyFileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EasyFileManager.Properties.Settings>
            <setting name="EasyOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="StartupDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ImportExportDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LanguageIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PreviewPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowThumbnail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowProperties" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMilliseconds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowHiddenItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowVideoMetadata" serializeAs="String">
                <value>False</value>
            </setting>
        </EasyFileManager.Properties.Settings>
    </userSettings>
</configuration>